@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-purple: #845ec2;
  --color-light-purple: #f3c5ff;
  --color-green: #00c9a7;
  --color-light-green: #9ed7cd;
  --color-butter: #fefedf;
  --color-text: #221724;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* padding: 10px 0; */
}

table.voca_note th {
  color: var(--color-butter);
  background-color: var(--color-green);
  padding: 10px 0;
  /* border: 1px dashed red; */
}

table.voca_note td {
  font-weight: 600;
  color: grey;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

table.voca_note td:nth-of-type(1) {
  width: 80px;
  /* border: 1px dashed blue; */
}

table.voca_note td:nth-of-type(2) {
  width: 150px;
  /* padding: 10px 10px; */
}

table.voca_note td:nth-of-type(3) {
  width: 200px;
  /* padding: 10px 10px; */
}

table.voca_note td:last-of-type {
  width: 60px;
}

#table_title {
  display: none;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  max-width: 1440px;
  height: 100vh;
  background-color: var(--color-butter);
}

/* #root {
  @apply w-full max-w-screen-2xl;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1024px;

  margin: 0 auto;
  padding: 0 30px;
}

.header {
  height: 60px;

  font-size: 2rem;
  font-weight: bold;
  color: var(--color-purple);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_menu {
  display: none;
}

.menubar {
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-green);
  width: 100%;
  padding: 20px;
  display: none;
}

main {
  display: flex;
  justify-content: left;
}

.sidebar {
  width: 25%;
  height: 85vh;
  padding: 15px;
  padding-top: 15px;
  background-color: var(--color-green);
  color: var(--color-butter);
  font-weight: 700;

  display: block;
}

.outlet {
  padding-left: 40px;
  width: 75%;
}

.voca_note_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px dashed red; */
}

.notes_list_title {
  cursor: default;
  color: var(--color-purple);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
  display: flex;
  /* border: 1px dashed red; */
}

.notes_list_items {
  color: var(--color-butter);
  font-size: 1.1rem;
  font-weight: 600;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item_list {
  display: flex;
  width: 80%;
}

.item_list_title {
  cursor: pointer;

  width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item_list_title:hover {
  color: var(--color-purple);
  transition: all 200ms ease-in;
}

.item_list_title:active {
  color: var(--color-light-purple);
}

.note_icon {
  padding-top: 5px;
  padding-right: 5px;
  font-size: 1.3rem;
  color: var(--color-butter);
  cursor: default;
}

.btns_list {
  display: flex;
  justify-content: right;
  gap: 5px;
  font-size: 1.2rem;

  cursor: pointer;
}

#btns_note {
  opacity: 0;
  /* opacity: 0.3; */
  /* color: gray; */
}
#btns_note.visible {
  opacity: 1;
  color: var(--color-butter);
  transition: all 200ms ease-in;
}

#btns_note:hover {
  opacity: 1;
}

#btn_mod_note {
  font-size: 1.2rem;
  cursor: pointer;
}

#btn_mod_note:hover {
  color: var(--color-purple);
  transform: scale(1.3);
  transition: all 200ms ease-in;
}

#btn_mod_note:active {
  color: var(--color-light-purple);
}

#btn_del_note:hover {
  color: var(--color-purple);
  transform: scale(1.3);
  transition: all 200ms ease-in;
}

#btn_del_note:active {
  color: var(--color-light-purple);
}

.icon_notes_list {
  font-size: 1.2rem;
  margin-top: 8px;
  margin-right: 10px;
  /* border: 1px dashed red; */
}

.new_note2 {
  background-color: var(--color-purple);
  padding: 5px;
  margin-top: 40px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  /* text-align: center; */
  cursor: pointer;
}

.new_note2:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in-out;
}

.icon_add_note {
  font-size: 1.7rem;
  margin: 0 auto;
  color: var(--color-butter);
}

.button-list {
  display: flex;
  flex-flow: row-reverse;
  /* border: 1px dashed red; */
}

.button-list > button {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-green);
  color: var(--color-butter);
  font-size: 1.5rem;
  margin-left: 30px;

  border-radius: 50%;
  /* border: 1px dashed red; */
}

.button-list > button:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in;
}

#test_btn_disabled {
  /* color: gray; */
  background-color: gray;
  opacity: 0.7;
  cursor: default;
}

#test_btn_disabled:hover {
  transform: none;
}

.list-options {
  width: 100%;
  display: flex;
  justify-content: space-between;

  /* padding: 20px 0; */
  margin: 30px 0 10px;
  padding: 0;

  /* border: 1px dashed green; */
}

.test-toggle {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.toggle {
  width: 50px;

  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  /* border: 1px dashed red; */
}

#toggle-spell-disabled label {
  background-color: gray;
  color: var(--color-text);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0.4;
  cursor: default;
  color: light;
}

#toggle-meaning-disabled label {
  background-color: gray;
  color: var(--color-text);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.4;
  cursor: default;
}

#toggle-spell label {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* border: 1px dashed blue; */
}

#toggle-meaning label {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* border: 1px dashed red; */
}

.toggle input {
  display: none;
}

.toggle label {
  display: block;

  text-align: center;
  /* border-radius: 20px; */
  /* padding: 10px; */
  background-color: var(--color-light-green);
  color: gray;
}

.toggle label:hover {
  background-color: var(--color-green);
  color: var(--color-butter);
  transform: scale(1.05);
  transition: all 200ms ease-in;
}

.toggle input:checked + label {
  background-color: var(--color-green);
  color: var(--color-butter);
}

.toggle label {
  display: block;

  text-align: center;
  /* border-radius: 20px; */
  padding: 5px;
  background-color: var(--color-light-green);
  color: gray;

  cursor: pointer;
}

.sort-btn-list {
  width: 100%;
  display: flex;
  /* flex-flow: row; */
  justify-content: right;
  align-items: center;

  gap: 10px;
  /* border: 1px dashed blue; */
}

.sort {
  width: 80px;
  border-radius: 20px;

  background-color: var(--color-light-purple);
  color: var(--color-butter);
  font-size: 0.8rem;
  font-weight: 700;
  /* margin-bottom: 20px; */

  cursor: pointer;
}

.sort_disabled {
  width: 80px;
  border-radius: 20px;

  background-color: gray;
  color: var(--color-text);
  font-size: 0.8rem;
  font-weight: 700;
  /* margin-bottom: 20px; */

  opacity: 0.4;
}

.sort_disabled input {
  display: none;
}
.sort_disabled label {
  display: block;

  text-align: center;
  border-radius: 20px;
  padding: 5px;
  /* color: gray; */
}

.sort input {
  display: none;
}

.sort label {
  display: block;

  text-align: center;
  border-radius: 20px;
  padding: 5px;
  color: gray;
}

.sort:hover {
  background-color: var(--color-purple);
  /* color: var(--color-butter); */

  transform: scale(1.05);
  transition: all 200ms ease-in;
}

.sort label:hover {
  color: var(--color-butter);
}

.sort input:checked + label {
  background-color: var(--color-purple);
  color: var(--color-butter);
}

.voca_note_title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-green);
  display: flex;
  /* border: 1px dashed red; */
}

#btn_word_mod:hover {
  color: var(--color-green);
  transform: scale(1.2);
  transition: all 200ms ease-in;
}

.voca_note_title_icon {
  font-size: 1.7rem;
  padding-top: 2px;
  padding-left: 10px;

  color: var(--color-purple);
  cursor: pointer;
  /* border: 1px dashed red; */
}

.voca_note_title_icon:hover {
  /* color: var(--color-green); */
  transform: scale(1.2);
  transition: all 200ms ease-in;
}
.voca_note {
  width: 100%;
  text-align: center;
  /* border: 1px dashed red; */
}

.add_word_head {
  width: 100%;
  height: 60px;
  background-color: var(--color-green);
  /* border: 1px dashed red; */
}

.add_word_title {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  color: var(--color-butter);
}

.add_note_head {
  width: 100%;
  height: 70px;
  background-color: var(--color-green);
}

.add_note_title {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 70px;
  color: var(--color-butter);
}

.input_area {
  width: 100%;
  background-color: var(--color-butter);
  margin: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: grey;
  /* border: 1px dashed red; */
}
.input_area th {
  padding-left: 20px;
  font-size: 1.2rem;
  /* border: 1px dashed blue; */
}

.input_area input {
  width: 95%;
  height: 2rem;
  /* opacity: 1; */
  border-radius: 5px;
  margin: 10px 0;
  padding-left: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  /* border: 1px dashed green; */
}

.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal-window {
  display: flex;
  flex-flow: column;

  align-items: center;

  width: 600px;
  height: 300px;
  background-color: var(--color-butter);

  /* centering */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation: slidefade 0.35s linear;
}

#modal_add_word {
  display: none;
}

#modal_add_word.active {
  display: block;
}

#modal_modify_word {
  display: none;
}

#modal_modify_word.active {
  display: block;
}

#modal_add_note {
  display: none;
}

#modal_add_note.active {
  display: block;
}

#modal_modify_note {
  display: none;
}

#modal_modify_note.active {
  display: block;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px 20px;
  font-weight: 00;
  font-size: 35px;
  /* line-height: 70px; */
  color: var(--color-butter);
  cursor: pointer;
}

.modal-close:hover {
  transform: scale(1.1);
  color: var(--color-purple);
  transition: all 300ms ease-in-out;
}

.btn_save_word {
  width: 100px;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 0;
  padding: 0.2rem;
  background-color: var(--color-green);
  color: var(--color-butter);
}

.btn_save_word:hover {
  background-color: var(--color-purple);
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

.print-page {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 90px;
}

#home-note {
  /* color: var(--color-text); */
  color: var(--color-purple);
  /* color: var(--color-green); */
  font-size: 1.3rem;
  font-weight: 800;

  text-align: left;
  margin-top: 60px;
  margin-left: 30px;
}

#home_voca_test {
  color: var(--color-green);
  font-size: 2rem;
  font-weight: 800;
}

#empty-note {
  /* color: var(--color-text); */
  color: var(--color-green);
  font-size: 1.3rem;
  font-weight: 800;

  text-align: center;
  margin-top: 50px;
}

#score-result {
  color: var(--color-purple);
  font-size: 1.8rem;
  font-weight: 800;

  text-align: center;
  margin-top: 50px;
}

#correct-num {
  color: var(--color-green);
  margin-right: 30px;
}

input::placeholder {
  font-size: 0.9rem;
  font-weight: 500;
}

@media print {
  #table_title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-green);
    margin-bottom: 10px;
    text-align: center;

    display: block;
  }
  @page {
    size: A4;
    margin: 20mm;
  }
}
