:root {
  --color-purple: #845ec2;
  --color-light-purple: #f3c5ff;
  --color-green: #00c9a7;
  --color-butter: #fefedf;
  --color-text: #221724;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-butter);
}

#root {
  @apply w-full max-w-screen-2xl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 70px;
  padding-left: 60px;

  font-size: 2rem;
  font-weight: bold;
  color: var(--color-purple);

  display: flex;
  align-items: center;
}

main {
  display: flex;
}

.side-space {
  width: 70px;
}

.sidebar {
  width: 150px;
  height: 85vh;
  padding: 20px;
  padding-top: 100px;
  background-color: var(--color-green);
  color: var(--color-butter);
  font-weight: 700;
}
.container {
  padding-left: 40px;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.nav_notes {
  display: flex;
}

.dropdown {
  position: relative;
}

.dropdown_trigger {
  cursor: pointer;
  color: var(--color-purple);
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 100px;

  display: flex;
}

.dropdown_content {
  display: none;

  left: -15px;
  width: 150px;
  padding-top: 0.25rem;

  position: absolute;
  top: 100%;

  background-color: var(--color-light-purple);
  color: var(--color-text);
  z-index: 9999;

  font-size: 1.2rem;
  font-weight: 500;
  padding: 15px;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.icon_notes {
  font-size: 1.2rem;
  margin-top: 8px;
  margin-right: 10px;
  color: var(--color-green);
}

.new_note {
  cursor: pointer;
  color: var(--color-purple);
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 100px;

  display: flex;
}

.icon_new_note {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-right: 5px;
  color: var(--color-green);
}

.button-list {
  display: flex;
  flex-flow: row-reverse;
}

button {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-green);
  color: var(--color-butter);
  font-size: 1.7rem;
  margin-left: 30px;

  border-radius: 50%;
}

.voca_note_title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: var(--color-green);
}

table {
  width: 80%;
  text-align: center;
}

th {
  color: var(--color-butter);
  background-color: var(--color-green);
  padding: 10px;
}

td {
  font-weight: 600;
  color: grey;
  border-bottom: 1px solid grey;
  padding: 10px;
}
