@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-purple: #845ec2;
  --color-light-purple: #f3c5ff;
  --color-green: #00c9a7;
  --color-butter: #fefedf;
  --color-text: #221724;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-butter);
}

/* #root {
  @apply w-full max-w-screen-2xl;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 70px;
  padding-left: 60px;

  font-size: 2rem;
  font-weight: bold;
  color: var(--color-purple);

  display: flex;
  align-items: center;
}

main {
  display: flex;
}

.side-space {
  width: 70px;
}

.sidebar {
  width: 300px;
  height: 85vh;
  padding: 20px;
  padding-top: 20px;
  background-color: var(--color-green);
  color: var(--color-butter);
  font-weight: 700;
}
.container {
  padding-left: 40px;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.nav_notes {
  display: flex;
}
.voca_note_header {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* .dropdown {
  position: relative;
}

.dropdown_trigger {
  cursor: pointer;
  color: var(--color-purple);
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 100px;

  display: flex;
} */

/* .dropdown_content {
  display: none;

  width: 150px;
  padding-top: 0.25rem;

  position: absolute;
  top: 100%;

  background-color: var(--color-green);
  color: var(--color-butter);
  z-index: 9999;

  font-size: 1.1rem;
  font-weight: 500;
  padding: 15px;
} */

/* .dropdown:hover .dropdown_content {
  display: block;
  cursor: pointer;
  /* color: var(--color-light-purple); */
/* }  */

.notes_list_title {
  cursor: pointer;
  color: var(--color-purple);
  font-size: 1.4rem;
  font-weight: 700;

  /* margin-right: 100px; */
  display: flex;
}

.notes_list_item {
  color: var(--color-butter);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
  /* margin-right: 100px; */
  display: flex;
  cursor: pointer;
}

.notes_list_item:hover {
  /* color: var(--color-light-purple); */
  color: var(--color-purple);
  transition: all 200ms ease-in;
}
.notes_list_item:active {
  color: var(--color-light-purple);
  /* color: var(--color-purple); */
  transition: all 200ms ease-in;
}

.notes_list_item_icon {
  padding-top: 5px;
  padding-right: 5px;
  font-size: 1.5rem;
  color: var(--color-butter);
}

.notes_list_item_icon:hover {
  /* color: var(--color-light-purple); */
  color: var(--color-purple);
  transition: all 200ms ease-in;
}
/* .notes_list_item p {
  cursor: pointer;
  color: var(--color-butter);
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 100px;
  display: flex;
} */

.icon_notes_list {
  font-size: 1.2rem;
  margin-top: 8px;
  margin-right: 10px;
  /* color: var(--color-butter); */
}
.icon_notes {
  font-size: 1.2rem;
  margin-top: 8px;
  margin-right: 10px;
  color: var(--color-green);
}

.new_note {
  cursor: pointer;
  color: var(--color-purple);
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 100px;

  display: flex;
}

.new_note2 {
  background-color: var(--color-purple);
  padding: 10px;
  margin-top: 40px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  /* text-align: center; */
  cursor: pointer;
}

.icon_add_note {
  font-size: 1.7rem;
  margin: 0 auto;
  color: var(--color-butter);
}

.icon_new_note {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-right: 5px;
  color: var(--color-green);
}

.button-list {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 15px;
}

button {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-green);
  color: var(--color-butter);
  font-size: 1.5rem;
  margin-left: 30px;

  border-radius: 50%;
}

.voca_note_title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-green);
  display: flex;
}

.voca_note_title_icon {
  font-size: 1.7rem;
  padding-top: 2px;
  padding-left: 10px;

  color: var(--color-purple);
  cursor: pointer;
}

.voca_note {
  width: 80%;
  text-align: center;
}

.voca_note th {
  color: var(--color-butter);
  background-color: var(--color-green);
  padding: 10px;
}

.voca_note td {
  font-weight: 600;
  color: grey;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.btn_new_word {
  width: 100px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 0;
  background-color: var(--color-purple);
}

.add_word_head {
  width: 100%;
  height: 70px;
  background-color: var(--color-green);
}

.add_word_title {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 70px;
  color: var(--color-butter);
}

.add_note_head {
  width: 100%;
  height: 70px;
  background-color: var(--color-green);
}

.add_note_title {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 70px;
  color: var(--color-butter);
}

.input_area {
  width: 100%;
  background-color: var(--color-butter);
  margin: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: grey;
  /* border: 1px dashed red; */
}
.input_area th {
  padding-left: 20px;
  font-size: 1.2rem;
  /* border: 1px dashed blue; */
}

.input_area input {
  width: 95%;
  height: 2rem;
  /* opacity: 1; */
  border-radius: 5px;
  margin: 10px 10px;
  padding-left: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  /* border: 1px dashed green; */
}

.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal-window {
  display: flex;
  flex-flow: column;

  align-items: center;

  width: 600px;
  height: 300px;
  background-color: var(--color-butter);

  /* centering */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation: slidefade 0.35s linear;
}

#modal_add_word {
  display: none;
}

#modal_add_word.active {
  display: block;
}

#modal_add_note {
  display: none;
}

#modal_add_note.active {
  display: block;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px 20px;
  font-weight: 00;
  font-size: 35px;
  /* line-height: 70px; */
  color: var(--color-butter);
  cursor: pointer;
}

.modal-close:hover {
  transform: scale(1.1);
  color: var(--color-purple);
  transition: all 300ms ease-in-out;
}

.btn_save_word {
  width: 150px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 0;
  background-color: var(--color-green);
}

.btn_save_word:hover {
  transform: scale(1.05);
  background-color: var(--color-purple);
  transition: all 300ms ease-in-out;
}
